<!DOCTYPE html>
<html>
	<head>
		<meta charser="utf-8"/>
		<title>Yo</title>
	</head>
	<body>
		<h1>You chosed <%= number %></h1>
		<p><%
			var i = 0;
			while (i < number)
			{%>
				<%= i %>
			<%
				++i;
			}%>
		</p>
	</body>
</html>