<!DOCTYPE html>
<html>
	<head>
		<meta charser="utf-8"/>
		<title>Task List</title>
		<link rel="stylesheet" href="styles/nopage.css"/>
	</head>
	<body>
		<div>
			<img src="img/nopage.svg"/>
			<p>The page you are looking for does not exist.</p>
			<a href="http://localhost:8080">Go to the Home !</a>
		</div>
	</body>
</html>